{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Instagram Clone</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      href="{% static 'asset/bootstrap-4.4.1-dist/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />
    <link href="{% static 'asset/css/style.css' %}" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>Hello World1</h2>
        </div>
        <div class="col-md-4">
          <h2>Hello World2</h2>
        </div>
        <div class="col-md-4">
          <h2>Hello World3</h2>
        </div>
      </div>
    </div>

    <script src="{% static 'asset/js/jquery.js' %}"></script>
    <script src="{% static 'asset/bootstrap-4.4.1-dist/js/bootstrap.min.js' %}"></script>
  </body>
</html>
